.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
    height: 100%;
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    /* display: flex;
    justify-content: center;
    flex-flow: row wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 5%;
    gap: 30px;
}
@media (max-width:1280px) {
    .collections{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .new-collections{
        gap: 20px;
    }
    .new-collections h1{
        font-size: 40px;
    }
}
@media (max-width:1024px) {
    .new-collections h1{
        font-size: 30px;
    }
}